.sidebar-container {
  width: 10%;
  height: 100vh;
  position: fixed;
  background-color: var(--black-bg-color);
  color: var(--white-text-color);

  &__ul {
    list-style-type: none;
    padding: 0;

    & li {
      border-bottom: 1px solid #5c5c5c;
      padding: 14px 0 11px 16px;
      font-weight: 700;
      font-size: 16px;
      line-height: 18.75px;

      &:hover {
        background-color: #5c5c5c;
        color: var(--white-text-color);
        cursor: pointer;
      }
    }

    &__li {
      color: var(--gray-level-1-text-color);

      &--active {
        color: var(--white-text-color);
      }
    }
  }
}
